{# templates/offers/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Offres – JO 2024{% endblock %}

{% block body %}
  <div class="container">
    <h1>Nos Offres</h1>
    <ul class="list-group ">
      {% for offer in offers %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="offer-details">
            <strong>{{ offer.name }}</strong> ({{ offer.places }} pers.)<br>
            {{ offer.price|number_format(2, ',', ' ') }} €
          </div>
          <button 
            type="button"
            class="btn-discord  btn-outline-primary add-to-cart" 
            data-id="{{ offer.id }}"
          >
            Ajouter
          </button>
        </li>
      {% else %}
        <li class="list-group-item">Aucune offre disponible pour le moment.</li>
      {% endfor %}
    </ul>
    <div class="btns">
      <a href="{{ path('commande') }}" class="btn-discord btn-link btn-offres">aller au panier <i class="fa-solid fa-cart-shopping"></i></a>
      <a href="{{ path('home') }}" class="btn-discord btn-link btn-accueil">← Retour à l’accueil</a>
    </div>
  </div>
{% endblock %}
